<p>This is the about view.</p>

<table width="100%" vertical-align="top" cellspacing="10">
  <tr>
    <td>
		<iframe src="//www.slideshare.net/slideshow/embed_code/key/zTM2gnUBtgVImf" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/anhnd85/application-of-economic-model-in" title="Application of economic model in software maintenance" target="_blank">Trial lecture on The Application of economic model in software maintenance</a> </strong> from <strong><a href="//www.slideshare.net/anhnd85" target="_blank">Anh Nguyen</a></strong> </div>
    	
    </td>
    <td>
		<iframe src="//www.slideshare.net/slideshow/embed_code/key/Bxxy6MgneDWNZN" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/anhnd85/dissertation-slide-ver-13" title="Supporting team coordination of software development across multiple companies" target="_blank">Supporting team coordination of software development</a> </strong> from <strong><a href="//www.slideshare.net/anhnd85" target="_blank">Anh Nguyen</a></strong> </div>
    	
    </td> 
  </tr>
  <tr>
    <td>
		<iframe src="//www.slideshare.net/slideshow/embed_code/key/NPAoMlxXZFbV44" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/anhnd85/on-the-role-of-boundary-spanners-as-a-team-coordination-mechanism-in-organisationally-distributed-projects" title="On the role of boundary spanners as a team coordination mechanism in organisationally distributed projects " target="_blank">On the role of boundary spanners as a team coordination mechanism in organisationally distributed projects </a> </strong> from <strong><a href="//www.slideshare.net/anhnd85" target="_blank">Anh Nguyen</a></strong> </div>
    	
    </td>
    <td>
		<iframe src="//www.slideshare.net/slideshow/embed_code/key/8fvYlezmyRodw" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/anhnd85/coordination-of-software-development-teams-across-organizational-boundary-an-exploratory-study" title="Coordination of software development teams across organizational boundary – An exploratory study " target="_blank">Coordination of software development teams across organizational boundary – An exploratory study </a> </strong> from <strong><a href="//www.slideshare.net/anhnd85" target="_blank">Anh Nguyen</a></strong> </div>
    	
    </td> 
  </tr>
  
  <tr>
    <td>
		<iframe src="//www.slideshare.net/slideshow/embed_code/key/wQUy4BNSfnJRgZ" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/anhnd85/forking-and-coordination-in-multiplatform-development" title="Forking and coordination in multi-platform development" target="_blank">Forking and coordination in multi-platform development</a> </strong> from <strong><a href="//www.slideshare.net/anhnd85" target="_blank">Anh Nguyen</a></strong> </div>
    	
    </td>
    <td>
		<iframe src="//www.slideshare.net/slideshow/embed_code/key/rgiLLeNm1w0VF" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/anhnd85/slide-pub001" title="Impact of design complexity on software quality - A systematic review" target="_blank">Impact of design complexity on software quality - A systematic review</a> </strong> from <strong><a href="//www.slideshare.net/anhnd85" target="_blank">Anh Nguyen</a></strong> </div>
    	
    </td> 
  </tr>
  
  <tr>
    <td>
		<iframe src="//www.slideshare.net/slideshow/embed_code/key/iLsKhhGIB4V2jd" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/anhnd85/slide-pub004" title="Dispersion, coordination and performance in GSD: a systematic review" target="_blank">Dispersion, coordination and performance in GSD: a systematic review</a> </strong> from <strong><a href="//www.slideshare.net/anhnd85" target="_blank">Anh Nguyen</a></strong> </div>
    	
    </td>
    <td>
    	<iframe src="//www.slideshare.net/slideshow/embed_code/key/JpUcazX1XpX0CX" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/anhnd85/slide-pub006" title="Supporting team coordination across organizational boundary in GSD" target="_blank">Supporting team coordination across organizational boundary in GSD</a> </strong> from <strong><a href="//www.slideshare.net/anhnd85" target="_blank">Anh Nguyen</a></strong> </div>
    </td> 
  </tr>
</table>








